<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen"/>
</head>
<body id="bodyBackground">
    <div class="content">
        <%block name="content">
        </%block>
        <div id="footer">
            <%block name="footer">
                <div class="padding">
                    Copyright &copy; 2012 Jennifer
                </div>
            </%block>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <%block name="myscripts">
    </%block>
</body>
</html>
<%def name="subheader()">
    <div id="subheader">
        <div id="menu">
            <ul>
                ${caller.body()}
            </ul>
        </div>
    </div>
</%def>
<%def name="mylinks()">
    <div id="subheader">
        <div id="menu">
            <ul>
                <li><a href="reports">Message Log</a></li>
                <li><a href="check">Kannel Status</a></li>
                <li><a href="logs">Logs</a></li>
                <li><a href="stats">Statistics</a></li>
                <li><a href="/users">Users</a></li>
                ${caller.body()}
            </ul>
        </div>
    </div>
</%def>
